.react-logo{
  height: 25px;
}
.react-titulo{
  display: inline;
}
nav{
  box-shadow: 0px 1.6px 3.5px rgb(255, 90, 228);
  margin-bottom: 10px;
  color: rgb(94,211,243);
  position: fixed;
  width: 100%;
  top: 0;
  height: 30px;
  background-color: rgb(10, 10, 15);
  z-index: 1;
  
}
.sun{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255,81,0);
  position: absolute;
  box-shadow: 0 0 20px rgba(255,141,0,1);
  
}

.solarSystem{
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(10, 10, 15)
}
.earth:after{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(112, 112, 112);
  position: absolute;
  border: none;
  animation: moon-orbit 15s linear infinite ;
}

.card{
  width: 160px;
  height: 260px;
  background-color: rgb(10, 10, 20);
  display: inline-block;
  margin: 10px;
  color: rgb(255, 255, 255);
  border: 5px solid rgb(5,5,5);
  justify-content: center;
  border-radius: 10%;
}

.imgCard{
  border-radius: 50%;
  height: 140px;
  width: 140px;

}

.App{
  background-color: rgb(10, 10, 15) ;
}

.greetings{
  color: rgb(250, 243, 175);
  border: 7px solid rgb(253, 246, 178);
  border-radius: 3%;
  height: 420px;
  margin-right: auto;
  margin-left: 10px;
  width: 220px ;
}

.greetings2{
  color: rgb(250, 243, 175);
  border: 7px solid rgb(253, 246, 178);
  border-radius: 3%;
  height: 420px;
  margin-left: auto;
  margin-right: 10px;
  width: 220px ;
}

.headOrTails{
  width: auto;
  height: 275px;
  background-color: rgb(240, 240, 248);
  border: 5px solid rgb(5,5,5);
  justify-content: center;
  border-radius: 1%;
}

.coin{
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, gold, #a87f18);    
  border: #a87f18 solid  5px;
  border-radius: 50%;
  color: #a87f18;
  justify-content: center;
  transition-duration: 10s;
  
}
.coin:active{
  transition:  5s ;
    width: 120px;
    height: 120px;
    font-size: 30px;
    transform: rotateY(360deg)
}
.coinH1{
  text-align: center;
}

.bullet{
  width: 100px;
  height: 100px;
  background-color: gray;
  color: blanchedalmond ;
  border-radius: 50%;
 display: inline-block;
}

@keyframes mercury-orbit{
  from{
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes venus-orbit{
  from{
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}

@keyframes earth-orbit{
  from{
    transform: rotate(0deg) translateX(90px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(90px) rotate(-360deg);
  }
}


@keyframes mars-orbit{
  from{
    transform: rotate(0deg) translateX(105px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(105px) rotate(-360deg);
  }
}

@keyframes jupiter-orbit{
  from{
    transform: rotate(0deg) translateX(130px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(130px) rotate(-360deg);
  }
}

@keyframes saturn-orbit{
  from{
    transform: rotate(0deg) translateX(145px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(145px) rotate(-360deg);
  }
}

@keyframes uranus-orbit{
  from{
    transform: rotate(0deg) translateX(170px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(170px) rotate(-360deg);
  }
}

@keyframes neptune-orbit{
  from{
    transform: rotate(0deg) translateX(190px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateX(190px) rotate(-360deg);
  }
}